@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
html, body{
    font-family:'Readex Pro',sans-serif;
    width:100%;height:100%;
    background:#333 url("/assets/img/bgone.jpg") no-repeat bottom center;
    display:flex;flex-direction:column;text-align:center;align-items: center;justify-content: center;
}
h3,span{padding:8px 25px;font-size:35px;text-align:center;color:#fff;margin:0px 0px;}
span{border-radius:12px;background:rgb(0, 78, 141);}